<h1>New Wiki Post</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for Wikis</p>
     <ul>
       <li>Make sure it rhymes.</li>
       <li>Don't use the letter "A".</li>
       <li>The incessant use of hashtags will get you banned.</li>
       <li>If you desire, you may use Markdown. A Markdown cheat sheet can be found <%= link_to 'here', 'https://guides.github.com/features/mastering-markdown/' %>.</li>
     </ul>
   </div>
   <div class="col-md-8">
      <%= render partial: 'form', locals: { wiki: @wiki } %>
   </div>
 </div>
